node_modules
.next/*
!.next/standalone
!.next/static
.git
.claude
dist
mobile
.DS_Store
*.md
.env*
api-gateway-build
chat-service
order-service
product-service
user-service-oauth
websocket-service
k8s
scripts
docs
